body{
    background-color: #61122f;
    font-family: 'Oxygen',  sans-serif;
    color: #fff;
    font-size: 16px;
}
/* Header */
.row{
    width: 100% !important;
}
#header-nav{/* header styling*/
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}
.navbar-brand{/* Brand Stying*/
    padding: 25px;
    padding-bottom: 0;
}
.navbar-brand h1{/*brand name*/
    font-family: 'lora', serif;
    font-weight: bold;
    text-transform:uppercase;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow:1px,1px,1px #222;
    line-height: .75;
    font-size: 1.5em;
    color:#557c3e;
}
.navbar-brand a:hover, .navbar-brand a{
    text-decoration: none;
}
.navbar-brand p{/*kosher cert*/
    margin: 15px;
    color: #000;
    font-size: .7em;
    text-transform: uppercase;
}
.navbar-brand p span{
    vertical-align: middle;
}
#logo-img{
    background: url('../images/restaurant-logo.png');
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0px;
}
a>div{
    float:left;
}
#nav-list{
    margin-top: 10px;
}
#nav-list .nav-item {
   color: #61221f;
}
.nav-item{
    text-align: center;
}
#nav-list a{
    text-decoration: none;
    font-size: large;
    font:bold;
    font-weight:50px;
}
#nav-list a span{
    font-size: 1.8em;
    color: #61221f;
}
#phone{
    margin-top: 5px;
}
#phone a{
    color: #61221f;
    text-align: right;
    padding: bottom 0;
    text-decoration: none;
    font-size: 150%;
}
#phone div{
    color:#557c3e;
    text-align: right;
    padding-right: 15px;
}
#header-nav button.navbar-toggler{
    border: 3px solid #61221f;
    clear: both;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(50%,0%,0%)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.collapse{
    padding: 10px;
}
/* Header-end */
/* Homapage */
.container .jumbotron{
    box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid #3f0c1f;
}
#menu-tiles,#specials-tiles,#map-tiles{
    height: 250px;
    width: 100%;
    margin-top: 15px;
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
}
#menu-tiles:hover,#specials-tiles:hover,#map-tiles:hover{
    box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tiles{
    background: url(../images/menu-tile.jpg) no-repeat;
    background-position: center;
}
#specials-tiles{
    background: url(../images/specials-tile.jpg) no-repeat;
    background-position: center;
}
#menu-tiles span, #specials-tiles span,#map-tiles span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 1.6em;
    text-transform: uppercase;
    opacity: .8;
}
/* Homepage-end */
/* menu-categories page */
.category-title{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
    border: 2px solid #3f0c1f;
    overflow:hidden;
}
.category-title span{
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    background-color:#000;
    font-size: 1.2em;
    color: #fff;
    opacity: .8;
    width: 100%;
}
.category-title:hover{
    box-shadow: 0px 1px 5px 1px #cccccc;
}
#menu-categories-title + div{
    margin-bottom: 50px;
}
/* menu-categories page-end */
/* footer */
.panel-footer{
    background-color: #222;
    margin-top: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    border-top: 0;
}
.panel-footer .row{
    line-height:2;
}
#hour span,#address span{
    font-size: 1.3em;
}
#testimonials{
    font-style: italic;
    font-size: 1.1em;
    line-height: 1.5;
    font-weight: 3px;
}
#testimonials p:nth-child(2){
    margin-top: 25px;
}
#address p{
    font-size: .8em;
    color: #557c3e;
    line-height: 1.2em;
}
/* footer-end */
@media (min-width:1200px) {
    .d-lg-block{
        display: block !important;
    }
    .d-lg-none{
        display: none !important;
    }
    /* homepage */
    .container .jumbotron{
        background: url(/images/jumbotron_1200.jpg) no-repeat;
        height: 675px;  
    }
    #menu-tiles, #specials-tiles{
        width: 360px;
    }
}
@media (min-width:992px) and (max-width:1200px) {
    /* Header */
    .d-md-block{
        display: block !important;
    }
    #logo-img{
        background: url(/images/restaurant-logo_medium.png) no-repeat !important ;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;
    }
    /*Header end */
    /* homepage */
    .container .jumbotron{
        background: url(/images/jumbotron_992.jpg) no-repeat;
        height: 558px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .d-sm-block{
        display: block !important;
    }
    .d-sm-none{
        display: none !important;
    }
    /* homepage */
    .container .jumbotron{
        background: url(/images/jumbotron_768.jpg) no-repeat;
        height: 432px;
    }
}
@media (max-width:767px){
    /* Header */
    .d-xs-none{
        display: none !important;
    }
    .d-xs-block{
        display: block !important;
    }
    .navbar-brand{
        padding-top: 10px;
        height: 80px;
    }
    .navbar-brand h1{
        padding-top: 10px;
        font-size: 5vw;
    }
    .navbar-brand p{
        font-size: .6em;
        margin-top: 12px;
    }
    .navbar-brand p img{
        height: 20px;
    }
    .collapse a{
        font-size:1.2em;
    }
    #call-btn a{
        font-size: 1.5em;
        display: block;
        margin: 0 20px;
        padding: 10px;
        border: 2px solid #fff;
        background-color:#f6b319;
        color: #951c49;
    }
    #xs-deliver{
        color: #557c3e;
        margin-top: 5px;
        font-size: 1em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
    /*Header-end  */
    /* footer */
    .panel-footer section{
        text-align: center;
        margin-bottom: 30px;
    }
    .panel-footer #address p{
        margin-bottom: 0;
    }
    .panel-footer section hr{
        width: 50%;
        margin:auto;
    }
    /* footer-end */
}
@media (max-width:575px) {
    .navbar-brand h1{
        font-size: 6vw;
        margin-top: -5px;
    }
    .row div{
        display: flex;
        justify-content: center;
    }
}